.margin-body{
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 5pc;
}
    .container {
        height: 100%;
        width: 1500px;
        display: flex;
        margin-bottom: 1.5pc;
      }
      .content-service {
        width: 33,3%;
        background-color:#647475;
        margin-right: 0.5pc;
        margin-left: 0.5pc;
        
      }
      .img-service{
        display: block;
        margin: auto;
      }
      .img-serviceprin{
        display: block;
        margin: auto;
        margin-top: 3pc;
        margin-bottom: 3pc;
    }
      
      .text-service{
        margin-left: 4pc;
        margin-right: 1.5pc;
        text-align: justify;
        margin-bottom: 3pc;
      }
      .text-serviceprin{
        margin-left: 4pc;
        margin-right: 1.5pc;
        text-align: justify;
        margin-bottom: 5pc;
      }
      .text-service h2{
        margin-left: 4pc;
        margin-right: 1.5pc;
        text-align: center;
        
      }
      .content-two-column {
        width: 50%;
        background-color: green;
        margin-left: 0.5pc;
            margin-right: 0.5pc;
      }

      .text-new{
          text-align: justify;
          margin-left: 2pc;
          margin-right: 1.5pc ;
      }
      h2{
          text-align: center;
      }
      .content-team {
        width: 50%;
        background-color: yellow;
        margin-left: 2pc;
        margin-right: 2pc;
      }
      .img-team{   
          
        display: block;
        margin: auto;
      }

      .margin-team{
          margin-top: 2pc;
      }
      .text-team{
          text-align: justify;
          margin-left: 3pc;
          margin-right: 2pc;
          margin-bottom: 3pc;

      }
      
#pie {
    font-family: Verdana, Tahoma, sans-serif;
    } 

    .barra-menu{
        margin-top: 2.5pc;
        margin-bottom: 1.5pc;
        height: auto;
    background-color:#9AB2B5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1500px;
    
    margin-right: auto;
    }
        .title-principal{
            text-align: end;
            
            width: 60%;
            height: 120px;
            margin-bottom: 1pc;
            font-size: xx-large
        }
      
        .content-menu{
         
    list-style-type: initial;
    text-align: end;
    width: 25%
        }
        .menu-principal__item{
            font-size: 20px;
            text-decoration: underline;
            line-height: 1;
        }
        .main-menu__link:hover{
            text-decoration: underline;
            font-weight: unset;
            color: silver;
           
        }
        .main-menu__link:active{
            text-decoration: underline;
            font-weight: unset;
            color: silver;
           
        }
        .main-menu__link{
            text-decoration: underline;
            font-weight: unset;
            color: #BAD8DB;
           
        }
        .space{
            list-style-type: initial;
    text-align: end;
    width: 10%
        }
        .menu-principal{
            display: flex;
            list-style: none;
            justify-content: space-between;
            text-decoration: underline;
            color: rgb(241, 20, 20);
        }

        .banner{
            background-image: url(/src/img/cabecera.jpg);
            justify-content: space-evenly;
            width: 1500px;
            margin-bottom: 1.5pc;
        }
        .menu-principal-service{
            display: flex;
            list-style: none;
            justify-content: space-between;
           
            color: rgb(10, 10, 10);
        }

        .noticia{
            display: flex;
            margin-bottom: 1.5pc;
        }
        .content-footer{
            width: 1500px;
        background-color: rgb(200, 200, 218);
        margin-top: 5pc;
        align-content: center;
        margin-top: 2pc;
      
        }

        .info-proy{
            width: 100%;
            background-color: rgb(192, 151, 16);
            text-align: center;
            margin-top: 2pc;
        }
        .contact{
            width: 100%;
            background-color: rgb(133, 133, 224);
            text-align: center;
            margin-top: 2pc;
        }

        /* Servicios */
        .margin-body-services{
            margin-top: 5pc;
        }